* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #90EE90;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.divFather {
  background: #edd04d;


  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

}


.gameFild {
  position: relative;
  margin: 20px auto;
  width: 300px;
  height: 100px;
  border: 1px solid #000000;
}

.divFather1 {

  outline: 1px solid #640000;
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: none;
  caret-color: transparent;
  background-color: transparent;

  outline: 10px solid #006400;
}

.divFather1:focus {
  box-shadow: 5px 5px 25px 20px #006400;
}

.scoreboard {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #1E90FF;
  z-index: 2;
  border-bottom: 10px solid #006400;
  outline: 1px solid #006400;
}

.scoreboard p {
  margin: 0px 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: Calibri;
}

.divFather .block {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #030394;
  outline: 1px solid #030394;
  display: inline-block;
  transition: 300ms;
  transform-origin: 50% 50%;
}

.mini {
  position: absolute;

  top: 0px;
  left: 180px;
  width: 50px;
  height: 50px;
}

.blockeMini {
  border: 1px solid #030394;

  display: inline;
  width: 20px;
  height: 20px;
  position: absolute;
}

.menu {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0px auto;
  border: 1px solid #000000;
  background-color: Silver;
  z-index: 5;
  border-radius: 9px;
  display: inline-flex;
}

.menu_1 {
  width: 90px;
  font-size: 10px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: right;
  line-height: 18px;
}

.menu_2 {
  width: 50px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 18px;
}


.inputInput {
  width: 40px;
  font-size: 12px;
  overflow: hidden;
  margin: 0px 0px 0px 5px;
}

.buttun {
  width: 100px;
  height: 30px;
  background-color: #007979;
  border-radius: 4px;
  color: #00FFFF;
  font-weight: 600;
  font-size: 10px;
  position: absolute;
  top: 111px;
  left: 22px;
  border: 2px solid #004848;
  cursor: pointer;
  transition: 1s;

}

.buttun:hover {
  animation: buttonAnim 1s linear infinite alternate forwards;

}

@keyframes buttonAnim {
  0% {
    box-shadow: 0px 0px 0px 0px red;
    font-size: 12px;
  }

  100% {
    box-shadow: 0px 0px 12px 6px red;
    font-size: 12.5px;
  }
}